.detail-type {
	/* background: url('../../../public/img/bg-types.png') center no-repeat;
	background-size: 100%; */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 5%;
}
.detail-type-name {
	color: white;
	font-weight: 700 !important;
	font-size: 3rem;
	padding-bottom: 1rem;
}

.detail-type-container {
	width: fit-content;
	height: fit-content;
	margin: 1rem;
	padding: 1rem;
	background-color: lightcoral;
	color: white;
	border-radius: 2%;
	text-align: center;
	margin: 3em;
	font-size: 1.5rem;
	font-weight: bold;
}

.detail-type-comp {
	padding-top: 0.4em;
	font-size: 1.2em;
}

@media screen and (max-width: 500px) {
	.detail-type {
		margin-top: 5rem;
	}
	.detail-type-container {
		background: rgba(212, 61, 61, 0.6);
		font-size: 2rem !important;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 2rem 2rem 0 2rem !important;
	}
	.detail-type-name {
		font-size: 2rem !important;
	}

	.detail-type-img {
		width: 60%;
		padding: 2rem 0 2rem 0;
	}
	.detail-type-comp {
		padding-top: 0.4em;
		font-size: 1.3rem;
	}
}
