.type-container {
	margin: 1rem;
	display: flex;
	flex-direction: row;
	width: 22%;
	justify-content: center;
}

.type-button {
	display: flex;
	cursor: pointer;
	font-size: 2rem;
	border-radius: 1rem;
	align-items: center;
	flex-direction: column;
}

.types-title {
	background-color: rgba(255, 204, 01);
	padding: 1.3rem;
	font-size: 2rem;
	font-weight: 700;
	color: rgb(45, 106, 180);
	-webkit-box-shadow: 0rem 0.625rem 0.7rem 0.75rem rgba(255, 204, 01, 0.876);
	box-shadow: 0rem 1rem 0rem 0rem rgba(255, 204, 01, 1);
	margin-bottom: 0.8rem;
}

.type-button-Feu {
	width: 7rem;
	height: 7rem;
}

.type-button-Acier {
	width: 7rem;
	height: 7rem;
}
.type-button-Combat {
	width: 7rem;
	height: 7rem;
}
.type-button-Dragon {
	width: 7rem;
	height: 7rem;
}
.type-button-Eau {
	width: 7rem;
	height: 7rem;
}
.type-button-Electrik {
	width: 7rem;
	height: 7rem;
}
.type-button-Glace {
	width: 7rem;
	height: 7rem;
}
.type-button-Insecte {
	width: 7rem;
	height: 7rem;
}
.type-button-Normal {
	width: 7rem;
	height: 7rem;
}
.type-button-Plante {
	width: 7rem;
	height: 7rem;
}
.type-button-Poison {
	width: 7rem;
	height: 7rem;
}
.type-button-Psy {
	width: 7rem;
	height: 7rem;
}
.type-button-Roche {
	width: 7rem;
	height: 7rem;
}
.type-button-Sol {
	width: 7rem;
	height: 7rem;
}
.type-button-Spectre {
	width: 7rem;
	height: 7rem;
}
.type-button-Vol {
	width: 7rem;
	height: 7rem;
}

@media screen and (max-width: 500px) {
	.type-container {
		width: 35%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}

	.types-pokemon {
		height: 100%;
	}
}
