@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One:ital@1&display=swap');

.App{
  display:flex;
  flex-direction:column;
    /* position: relative; */
  min-height: 100vh;
}